/* caracteristicas generales */
body {
  background-color: #FAF8CE;
  color: #006D72;
}



/* estilos de navbar */
.navbar {
  margin-bottom: 0;
}
.links,
.navbar-right {
  margin-top: 1.4em;
}
.navbar-left {
  margin-left: 13%;
}
.navbar, .nav {
  background-color: #faf8ce;
  color: #006d72;
  font-family: 'Kite One', sans-serif;
  /*font-weight: bold;*/
  font-size: 18px;
  border: none;
}
.navbar-default .navbar-nav>li>a {
  color: #006d72;
}
.navbar-default .btn-link {
  color: #006d72;
}
.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
  color: teal;
  text-decoration: none;
}
/* estilos logotipo */
.logotipo {
  width: 55%;
}
.logoMovil {
  width: 10em;
}
/* estilos buscador */
.navbar-bootsnipp .bootsnipp-search {
  display: none;
}
.navbar-bootsnipp .bootsnipp-search .form-control {
  background-color: rgb(235, 235, 235);
  border-radius: 0px;
  border-width: 0px;
  font-size: 24px;
  padding: 30px 0px;
}
.navbar-bootsnipp .bootsnipp-search .form-control {
  background-color: rgb(235, 235, 235);
  border-radius: 0px;
  border-width: 0px;
  font-size: 24px;
  padding: 25px 0px;
}
.navbar-bootsnipp .bootsnipp-search .form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn {
  padding: 14px 16px;
  border-radius: 0px;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn.active,
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn:hover,
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn:focus {
  padding: 14px 16px 14px 15px;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn-default {
  background-color: rgb(245, 245, 245);
}

/* estilos container */
.second,
.fourth {
  width: 100%;
  height: 600px;
  background-color: #006d72;
  color: #faf8ce;
  text-align: center;
  border: none;
}
.third {
  width: 100%;
  height: auto;
  text-align: center;
  border: none;
}
/* estilo footer */
.fifth {
  width: 100%;
  height: 110px;
  padding-top: 3.4em;
  font-family: 'Kite One', sans-serif;
  border: none;
  text-align: center;
}
.socialMedia {
  cursor: pointer;
}
/* contenido third */
.welcome {
  width: 75%;
  height: 390px;
  margin-top: 7em;
  background-image: url(../img/prueba-foto.jpg);
}
h1 {
  font-size: 36px;
  font-family: 'Oleo Script', cursive;
}
h2,
h3,
h4 {
  font-family: 'Kite One', cursive;
}

/* estilo de boton */
.btn-link {
  font-size: 16px;
}
/* diseño de borde de contenedor */
.tummy {
  background-image: url(../img/wata1.png);
  z-index: 10000;
  width: 100%;
  height: 14px;
  border: none;
  background-color: #006d72;
}
.tummy1 {
  background-image: url(../img/wata2.png);
  z-index: 10000;
  width: 100%;
  height: 14px;
  border: none;
  background-color: #faf8ce;
}
/* estilo boton ir arriba */
.ir-arriba {
  display:none;
  padding:20px;
  background:#024959;
  font-size:20px;
  color:#faf8ce;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
  z-index: 10000;
  border-radius: 50%;
}
/*inicio login*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
.loginBox
{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 420px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  z-index: -1;
}
.user
{
  width: 120px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);
}
.logtitle
{
  margin: 0;
  padding: 0 0 20px;
  color: #fff;
  text-align: center;
}
.loginBox p
{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}
.loginBox input
{
  width: 100%;
  margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
::placeholder
{
  color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #d83d38;
  cursor: pointer;
  border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
  background: #efed40;
  color: #262626;
}
.loginBox a
{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10px;
}
.g {
    background: #dd4b39;
    padding: .4em 1em;
    border: 2px solid #dd4b39;
}
/*login fin*/

/* Inicio Carousel */
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}


/* Fin Carousel */


/* Medias */
@media(min-width: 1200px) {
  .logotipo {
    margin-left: 39%;
  }
}
@media(max-width: 768px) {
  .welcome {
    width: 90%;
    height: 65%;
  }
}